<%= provide(:title, 'Sign up')%>
<h1> Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

 <% if @user.errors.any? %>
<div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this contact from being created!! Please fill in the listed fields with valid data.</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :name %><br/>
      <%= f.text_field :name %>
<br/><br/>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
<br/><br>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
<br/><br/>
      <%= f.label :password_confirmation, "Confirmation" %><br/>
      <%= f.password_field :password_confirmation %>
<br/><br/>
      <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
    <% end %>
<br/>
<br/><br/><br/><br/><br/><br/><br/>
  </div>
</div>
