<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being created!! Please fill in the listed fields with valid data.</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
  <div class="text">
    <%= f.text_field :name, :size =>46%>
  </div>
  </div>
  <div class="field">
    <%= f.label :email %>
  <div class="text">
    <%= f.text_field :email, :size =>46 %>
  </div>
  </div>
  <div class="field">
    <%= f.label :subject %>
  <div class="text">
    <%= f.text_field :subject, :size =>46 %>
  </div>
  </div>
  <div class="field">
    <%= f.label :message %><br/>
  <div class="text">
    <%= f.text_area :message, :rows => 5, :cols => 60 %>
  </div>
  </div>

  <span>Verify your identity</span><br/>
<%= recaptcha_tags :public_key => '6LcW3tMSAAAAACVV2eXWHUaIH3gJ36kdlnGcqJRM', :display => {:theme => 'clean'}, :message => 'Please try again.' %>
<br/>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
