<footer>
<div id="right">
Copyright 2012 &copy; All Rights Reserved.
</div>
<div id="footerleft">
<%=link_to image_tag("fb.png", :border => 0, :alt => 'Facebook Logo'), "http://www.facebook.com/groups/openmunicipalities" %>
<%=link_to image_tag("twi.png", :border => 0, :alt => 'Twitter Logo') %>
<%=link_to image_tag("rss.png", :border => 0, :alt => 'RSS Logo') %>
<%=link_to image_tag("mail.png", :border => 0, :alt => 'Mail Logo')%>
<%= link_to image_tag("getinh.png",:size => '130x40'), "https://github.com/OpenMunicipalities/openmunicipalities.org" %>
</div>
</footer>
