<nav id="menu-right">
    <ul class="mainheader">
    <li><%= link_to "Home", root_path %>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
    <li><%= link_to "About", about_path %>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
    <li><%= link_to "Blog", blogs_path %>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
    <li><%= link_to "News", "#" %>&nbsp;&nbsp;&nbsp;&nbsp;|</li>

    <% if !current_admin %>
    <li><%= link_to "Contact", contact_path %>&nbsp;&nbsp;&nbsp;&nbsp;|</li>
    <li><%= link_to "Sign Up", signup_path %>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <% else %>
     <li><%= link_to "Log Out (Admin)", logout_path %></li>
    <% end %>


    </ul>
</nav>

<nav id="logoset">
<%= image_tag("logo.png", :height =>  '160', :width => '170', :alt => "OpenMunicipalitiesLogo") %>
</nav>
