<!DOCTYPE html>
<html>
<head>
  <title>OpenmunicipalitiesOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
<br/>
<div id="msg">
<% flash.each do |key, value| %>
<%= value.html_safe %>
<% end %>
</div>
<%=render 'layouts/header'%>
<br/>
<div id="header">
<div id="logoset">
<%= image_tag asset_path 'logo.png', :style => 'height: 100px; width: 250px;' %>
</div>
</div>
<div id="main2">
<div id="content">
<%= yield %>
</div>
<div>
<br/>
<%=render 'layouts/footer'%>
</div>
</body>
</html>
